{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "quotes": [2, "single"],
    "new-cap": [2],
    "eqeqeq": [2, "smart"],
    "max-nested-callbacks": [2, 4],
    "camelcase": [0],
    "strict": [0],
    "no-unused-vars": [2],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "space-in-parens": [2, "never"],
    "space-infix-ops": [2],
    "no-trailing-spaces": [0],
    "vars-on-top": [2],
    "space-after-keywords": [2, "always"],
    "space-after-function-name": [2, "always"],
    "semi": [2],
    "no-mixed-spaces-and-tabs": [1],
    "new-parens": [2],
    "no-underscore-dangle": [0],
    "curly": [2],
    "no-shadow": [0],
  }
}
